*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, sans-serif;
    line-height:1.6;
    background:#f4fff4;
}

header{
    background:linear-gradient(to right,#2e8b57,#228b22);
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:42px;
}

nav{
    background:#145214;
    text-align:center;
    padding:15px;
}

nav a{
    color:white;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
    font-size:18px;
}

nav a:hover{
    color:yellow;
}

.hero{
    background:url("https://images.unsplash.com/photo-1441974231531-c6227db76b6e?w=1200")
    center/cover;
    color:white;
    text-align:center;
    padding:120px 20px;
}

.hero h2{
    font-size:40px;
}

section{
    padding:40px;
}

section h2{
    color:#1f6e1f;
    margin-bottom:20px;
}

.card-container{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
}

.card{
    background:white;
    width:280px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.2);
    text-align:center;
}

.card:hover{
    transform:scale(1.05);
    transition:0.3s;
}

ul{
    margin-left:30px;
}

ul li{
    margin:10px 0;
    font-size:18px;
}

form{
    max-width:500px;
    margin:auto;
}

input,
textarea{
    width:100%;
    padding:12px;
    margin:10px 0;
    border:1px solid #ccc;
    border-radius:5px;
}

button{
    background:#228b22;
    color:white;
    border:none;
    padding:12px 20px;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#145214;
}

footer{
    background:#145214;
    color:white;
    text-align:center;
    padding:15px;
}

@media(max-width:768px){

    header h1{
        font-size:32px;
    }

    .hero h2{
        font-size:28px;
    }

    nav a{
        display:block;
        margin:10px;
    }
}